@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #ffffff;
  background: #1f1f1f;
}

body {
  padding: 2rem 0;
}

#page {
  width: 80%;
  margin: 0 auto;
}

a {
  color: #a4cfff;
  line-height: 1;
  cursor: pointer;
}